body {
    background-color:#5483B9;
}

.badge {
    background-color: #0d6efd;
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    display: inline-block;
}

.card {
    border-radius: 20px;
}

.card-title {
    font-weight: 700;
    color: #212529;
}

.text {
    color: white;
}


.btn {
    background: #0d6efd;
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 0.9rem;
    font-weight: 600;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(30, 103, 213, 0.332);
}

.btn:hover {
    transform: translateY(-3px);
    background-color: #0d6efd;
    color: white;
    box-shadow: 0 6px 20px rgba(30, 103, 213, 0.332);
}

.btn2 {
    background: #052659;
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 0.9rem;
    font-weight: 600;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(4, 43, 101, 0.332);
}

.btn2:hover {
    transform: translateY(-3px);
    background-color: #052659;
    color: white;
    box-shadow: 0 6px 20px rgba(4, 43, 101, 0.332);
}
